<h1>Customer List</h1>

<p>Introducing AdventureWorks DB on Azure Portal:</p>

<p *ngIf="!customers"><em>Loading...</em></p>

<div *ngIf="customers">
    <div class="container-fluid">
        <form>
            <div class="form-group">
                <div class="col-md-3 col-sm-5 col-xs-5">
                    <select class="form-control" id="technology" name="technology" #technology (change)="searchCustomer(technology.value, searchString.value)">
                        <option value="All">-- All Technologies --</option>
                        <option *ngFor="let t of technologyList" [value]="t.technologyName" [text]="t.technologyName"></option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-5 col-xs-5">
                    <input id="searchString" type="text" (keyup)="searchCustomer(technology.value, $event.target.value)" class="form-control" placeholder="Search" #searchString name="searchString" />
                </div>
                <div class="col-md-6 col-sm-2 col-xs-2">
                    <button class="btn btn-success" type="submit" (click)="searchCustomer(technology.value, searchString.value)">Search</button>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h5 *ngIf="customers && customers.length == 0" class="text-muted">No customers found.</h5>
            </div>
        </form>
    </div>
</div>

<table *ngIf="customers && customers.length != 0" class="table table-bordred table-striped table-hover" style="margin-top:20px">
    <thead>
        <tr>
            <th>Full name</th>
            <th>Email</th>
            <th>Technology</th>
            <th>Registration date</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>
                <button [disabled]="!isOwner(customer.ownerId)" [routerLink]="['/customer', customer.id, 'account']" type="button" class="btn btn-link">{{ customer.fullName }}</button>
            </td>
            <td>{{ customer.email }}</td>
            <td>{{ getTechnologyNames(customer.technologyList) }}</td>
            <td>{{ customer.registrationDate | date }}</td>
            <td>
                <button [disabled]="!isOwner(customer.ownerId)" (click)="editCustomer(customer.id, $event); false" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
            </td>
            <td>
                <button [disabled]="!isOwner(customer.ownerId)" (click)="deleteCustomer(customer.id, $event); false" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
            </td>

        </tr>
    </tbody>
</table>
<button class="btn btn-success" [routerLink]="['/customer/new']">Create new</button>
