<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Todo App</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <ng-template [ngIf]="!auth.isAuthenticated()">
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/login']" style="cursor:pointer;">
                            <span class='glyphicon glyphicon-log-in'></span> Sign In
                        </a>
                    </li>
                </ng-template>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li *ngIf="auth.isAuthenticated()" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/profile']">
                        <span class='glyphicon glyphicon-user'></span> Profile
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/crypto']">
                        <span class='glyphicon glyphicon-wrench'></span> Cryptography
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/customer']">
                        <span class='glyphicon glyphicon-education'></span> Customers
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/todo']">
                        <span class='glyphicon glyphicon-th-list'></span> Todo List
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/email']">
                        <span class='glyphicon glyphicon-envelope'></span> Contact
                    </a>
                </li>
                <li *ngIf="auth.isAuthenticated() && auth.isAdmin()" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/settings']">
                        <span class='glyphicon glyphicon-cog'></span> Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
